body {background-color: greenyellow; }
/*baggrundsfarven på hjemmesiden!*/

/*Hvis flere elementer skal justeres, så brug class.
Hvis det kun er ét, brug id.*/

.navn1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    margin-bottom: 3%; /*husk at justere på margin 
    vedr. at rykke teksten op og ned 
    - du rykker på tekstens placering via margin*/
}
/*hovedoverskrift "Mathilde Fomsgaard."*/


.Billede1 {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; /*størrelse på billedet*/
  border: 2px solid green; /*ramme omkring billedet.*/
} 
/*profilbillede*/

.navn2 {
    text-align: center;
} /*2. overskrift*/

.streg1 {
    border-color: green;
}

.navn3 { font-family: Comic Sans MS;}

.bio1 {
    font-size: medium;
}

.streg2 {
    border-color: green;
}

.navn4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    margin-bottom: 3%;
}

.intro {
    text-align: center;
    margin: auto;
border: 2px solid green;
padding: 5px;
width: 300px;
border-radius: 50px; /*hvor rund rammen er.*/
}

.tegning1 {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 30%;
    border: 2px solid green;}

    .info1 {text-align: center;}

    .tegning2 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;

    }

    .info2 {
        text-align: center;
    }

    .tegning3 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;

    }

    .tegning4 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;
    }

    .tegning5 {display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            width: 30%;
            border: 2px solid green;
        }

    .tegning6 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;
    }

    .tegning7 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;
    }

    .tegning8 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;
    }

    .tegning9 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 30%;
        border: 2px solid green;
    }

    .tegning10 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 30px;
        width: 100%;
        border: 2px solid green;}

        .streg3 {border-color: green;}

        .fjolleboks {
            border: 5px outset green;
  text-align: center;
  margin-top: 3%;
        }

        .gif1 {border: 2px solid red}
        



